
.navbar {
  margin: 10px;
  button {
    color: white !important;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 1px;
  }
  .chip {
    background-color: #1779ba;
    border-radius: 30px;
    margin: 2px;
    padding: 5px 10px;
    display: inline-block;
    color: white;
    cursor: pointer;
    transform: scale(.80);
  }
}
